 .container{
    width: 300px;
  border: 2px solid green;
  padding: 25px;
  margin: auto;
  background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
  }
  .loadmore{
    background-color: blue;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:700px;
  }
  .load{
    background-color: blue;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:700px;
  }
  .data{
    padding: 15px 32px;
    margin-left:700px;
  }